.contenedor_pie{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    margin-top: 20px;
    background-color:rgba(133, 96, 96, 0.9);
}
.logo_pie{
    width: 120px;
    height: 120px;
    margin-left: 10px;
    margin-right:150px;
    border-radius: 50%;
    
}
.contenedor_logo_pie{
    border: black;
    
}

.datos_pie{
    margin-top: 2px;
}